#title {
    text-align: center;
    font-family: copperplate;
    font-size: 5em;
    margin-top: 1rem;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.piko-card {
    padding: .5rem;
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    margin: 3em;
    align-items: center;
    background-image: linear-gradient(rgb(0, 255, 247), rgb(0, 255, 4));
    /* background-color: red; */
    background-clip: padding-box; /* Clip the background to the border */    
    transition: background-image 0.6s ease;
}
.piko-card:hover {
    box-shadow: 0 6px 15px rgba(1, 1, 1, 1);
    background-image: linear-gradient(rgb(255, 94, 0), rgb(183, 0, 255));
    /* background-color: green; */
    transition: background-image 0.6s ease;

}

.piko-img {
    width: 250px;
    border-radius: 1em;
}

.piko-info {
    padding-left: 1.25rem;
}

.info-text {
    font-family: monospace;
    font-size: 1rem;
    min-width: 150px;
}

.piko-name {
    font-family: "copperplate", fantasy;
    font-size: 1.5em;
}

.piko-abilities {

}

.piko-category {

}

.piko-weakness {

}
